/* Sidebar container */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* full height of viewport */
  width: 180px;
  background-color: #f9f9f9;
  padding: 20px;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  z-index: 300;
}

.sidebar-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.brand-name {
  font-size: 2rem;
  font-weight: bolder;
  color: rgb(119, 71, 44);
  font-style: oblique;
}

/* Each section inside sidebar */
.sidebar-section {
  margin-bottom: 30px;
}

/*input radio buttons*/
.sidebar-section input{
  cursor: pointer;
}

/* Section titles */
.sidebar-section h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

/* List reset */
.sidebar-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.checkmark{
  font-size: larger;
  padding: 5px;
}

@media screen and (max-width: 425px) {
  .sidebar{
    width: 85px;
    height: 120vh;
  }

  .brand-name{
    opacity: 0;
  }
}
  